* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;

}

.menu_nav {

    display: flex;
    justify-content: right;
    margin-top: 64px;
    margin-left: 70px;
    margin-bottom: 64px;
    /* text-align: center; */

    gap: 114px;
    margin-right: 50px;

}

.header_top_container {
    display: flex;
    justify-content: space-between;
}

nav {

    display: block;
}

.menu_nav li {

    list-style: none;
}

.menu_nav li a {
    list-style: none;
    color: black;
    text-decoration: none;
    font-size: 160%;
    font-weight: 600;

}

.menu_nav li a:active {
    color: orange;
}

/* .menu_nav {
    display: flex;
    padding-right: 50px;
    gap: 94px;
    padding-top: 64px;
    padding-bottom: 64px;

} */

nav img {

    width: 206px;
    height: 101.758px;
    flex-shrink: 0;
    margin-top: 27px;
    margin-left: 70px;
}

.header_main {

    background-image: url('./image/Rectangle\ 48.png');
    width: 100%;
    height: 100vh;
    background-repeat: none;
    background-size: cover;

}

.header_main h2 {

    color: white;
    font-size: 240%;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 150% */
    letter-spacing: 0.1px;
    padding-top: 73px;
}

.header_main h1 {
    color: white;
    font-size: 580%;
    text-align: center;
    font-weight: 700;
    line-height: 80px;
    /* 137.931% */
    letter-spacing: 0.2px;
    padding-top: 17px;
    max-width: 937px;
    margin-left: auto;
    margin-right: auto;
}

.header_main h3 {

    color: #F6F6F6;
    text-align: center;
    font-size: 240%;
    font-weight: 500;
    line-height: 38px;
    /* 158.333% */
    letter-spacing: 0.2px;
    padding-top: 27px;

}

.header_main {
    text-align: center;
}

.header_flex_container {

    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 54px;
    gap: 34px;
}

.phone_container {
    max-width: 1041px;
    margin-left: auto;
    margin-right: auto;

}

.Playstore {
    padding: 16px 0px;
    background-color: orangered;
    border-radius: 30px;
    box-shadow: 0px 10px 30px 0px rgba(183, 50, 39, 0.20);
    width: 236px;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 240%;
}

.App_store {
    width: 236px;
    padding: 16px 0px;
    border-radius: 30px;
    border: 1px solid #FFF;
    background: none;
    color: white;
    font-weight: 700;
    font-size: 240%;


}

.flex_red_container {
    text-align: center;
    position: relative;
    height: 585px;

}

.flex_red_container #left_phone {

    width: 299px;
    height: 586px;
    flex-shrink: 0;
    object-fit: cover;
    position: absolute;
    top: -150px;
    left: 250px;
    z-index: 99;
}

.flex_red_container #right_phone {
    width: 285px;
    height: 531px;
    flex-shrink: 0;
    position: absolute;
    top: -50px;
    left: 500px;
}

.red_container {
    border-bottom: 2px solid #E4E4E4;
}

.how_the_app_works_container h1 {

    font-size: 440%;
    font-weight: 600;
    color: black;

}

.how_the_app_works_container {
    text-align: center;
    margin-top: 72px;


}

.flex_white_container {
    display: flex;
    justify-content: center;
    padding-top: 137px;
    align-items: center;
}

.flex_white_right h4 {

    color: #FA4A0C;
    font-size: 240%;
    font-weight: 700;
}

.flex_white_right h3 {

    color: black;
    font-size: 400%;
    font-weight: 700;
    padding-top: 17px;


}

.flex_white_right p {

    color: #737373;
    font-size: 240%;
    font-weight: 500;
    padding-top: 27px;


}

.flex_white_right {

    text-align: start;
}

.flex_explore_left h4 {

    color: #FA4A0C;
    font-size: 240%;
    font-weight: 700;
}

.flex_explore_left h3 {

    color: black;
    font-size: 400%;
    font-weight: 700;
    padding-top: 17px;


}

.flex_explore_left p {

    color: #737373;
    font-size: 240%;
    font-weight: 500;
    padding-top: 27px;


}

.flex_explore_left {

    text-align: start;
}

.flex_explore_container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex_checkout_right h4 {

    color: #FA4A0C;
    font-size: 240%;
    font-weight: 700;
}

.flex_checkout_right h3 {

    color: black;
    font-size: 400%;
    font-weight: 700;
    padding-top: 17px;


}

.flex_checkout_right p {

    color: #737373;
    font-size: 240%;
    font-weight: 500;
    padding-top: 27px;


}

.flex_checkout_right {

    text-align: start;
}

.flex_checkout_container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.download_container {

    background-image: url('./image/background2.png');
    background-repeat: none;
    background-size: cover;
    max-width: 100%;
    height: 516px;

}

.download_container h1 {
    color: white;
    font-size: 400%;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: center;
    padding-top: 145px;


}

.download_container p {
    color: #FFF;
    text-align: center;
    font-size: 240%;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
    margin-top: 20px;

}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 53px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

footer .icons {

    color: #FA4A0C;
    align-items: center;
    gap: 24px;
    font-size: 40px;

}

.after_footer {
    display: none;
}

#resp_check {
    display: none;
}

#resp_icon {
    color: black;
    display: none;

}

.phone_footer_btns {
    display: none;

    align-items: center;
    gap: 50px;
    padding-top: 50px;
    padding-left: 250px;
    margin-left: auto;
    margin-right: auto;

}

.Buy_now {
    padding: 15px 20px;
    background-color: #FA4A0C;
    border-radius: 10px;
    color: white;
    border: 1px solid black;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.Try_for_free {

    padding: 15px 20px;
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-style: normal;
    font-weight: 700;
    margin-left: 16px;

}